*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container{
  height: calc(100vh - 75px);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
  padding: 0 175px;
  background: oldlace;
  overflow-x: hidden;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rebeccapurple;
  height: 75px;
  width: 100vw;
  padding: 0 175px;
  font-size: 20px;
  font-weight: 900;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  font-size: 12px;
  font-weight: initial;
  height: 40px;
  border-left: 1px solid white;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: .25s all ease;
}

nav a:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.card{
  height: 60vh;
  min-height: 450px;
  min-width: 350px;
  background: rgba(128, 128, 128, 0.5);
  margin: 40px 0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  transition: all .25s ease;
}


.list-container{
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  margin: 0;
  border-radius: 10px;
}


.list-item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 10px;
  line-height: 20px;
  color: black;
  height: 20px;
  background: rgba(102, 51, 153, 0.1);
  transition: all .125s ease;
}

.list-item:nth-of-type(even){
  background: rgba(255, 255, 255, 0.7);
}

.list-item:hover{
  background: rgba(102, 51, 153, 0.3)
}



#title{
  border-bottom: 2px solid rebeccapurple;
  background: transparent;
  overflow: hidden;
}

#item-c{
  width: calc(25% - 4px);
  height: 20px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#qty-c{
  width: calc(15% - 4px);
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#unit-c{
  width: calc(15% - 4px);
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#exp-c{
  width: calc(25% - 4px);
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#buttons-c{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

#buttons-c button { 
  font-size: 8px;
  width: auto;
  min-width: 40px;
  height: 14px;
  border-radius: 10px;
  border: 2px solid transparent;
  background: rebeccapurple;
  color: white;
  cursor: pointer;
  transition: all .25s ease;
}

#buttons-c button:hover { 
  background: white;
  color: rebeccapurple;
}

.fridge{
  width: calc(60% - 20px);
  min-width: 450px;
}

.recipe{
  width: calc(40% - 20px);
}

.fridge-side{
  width: 40%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.add-item{
  width: 100%;
  height: 50%;
  background: rgba(102, 51, 153, 0.5);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.add-item input{
  background: rgba(255, 255, 255, .2);
  border: none;
  width: 80%;
  height: 30px;
  margin: 3px 0;
  padding: 10px 4px 0 4px;
  color: rgba(0, 0, 0, .5)
}

#qty{
  width: 60%;
}

.add-item select{
  background: rgba(255, 255, 255, .2);
  border: none;
  width: 30%;
  height: 30px;
  color: rgba(0, 0, 0, .5);
  overflow: hidden;
}

.add-item button{
  background: rgba(255, 255, 255, .2);
  border: none;
  width: 100px;
  height: 30px;
  margin: 3px 0;
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: .25s all ease;
}

.add-item button:hover{
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

h4{
  overflow: hidden;
}

.qty-unit-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  overflow: hidden;
}

.glance{
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.none{
  display: none;
}

.white{
  color: white;
}

.error{
  font-size: 10px;
  font-weight: 800;
  color: white;
  overflow: hidden;
  animation: show-error .25s ease;
}

@media (max-width: 1230px) {
  .fridge{
    width: 100%;
  }
  .recipe{
    width: 100%;
  }
}

@keyframes show-error {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}