*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container{
  height: calc(100vh - 75px);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
  padding: 0 175px;
  background: oldlace;
  overflow-x: hidden;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rebeccapurple;
  height: 75px;
  width: 100vw;
  padding: 0 175px;
  font-size: 20px;
  font-weight: 900;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  font-size: 12px;
  font-weight: initial;
  height: 40px;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: .25s all ease;
}

nav a:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.card{
  height: 60vh;
  min-height: 450px;
  min-width: 350px;
  background: rgba(128, 128, 128, 0.5);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  margin: 40px 0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  transition: all .25s ease;
}


.list-container{
  height: 100%;
  max-height: 561.725px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


.list-item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 10px;
  line-height: 30px;
  color: black;
  height: 30px;
  background: rgba(102, 51, 153, 0.1);
  transition: all .125s ease;
}

.list-item input {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid grey;
}

.list-item input::placeholder {
  color: black;
}

.list-item input:focus {
  border: 1px solid rebeccapurple;
}

.list-item select {
  background: white;
  color: black;
  border: none;
  border-radius: 4px;
}

.list-item select::placeholder {
  color: black;
}

.list-item select:focus {
  border: 1px solid rebeccapurple;
}

.list-item:nth-of-type(even){
  background: rgba(255, 255, 255, 0.7);
}

.list-item:hover{
  background: rgba(102, 51, 153, 0.3)
}

#item-c{
  width: calc(25% - 4px);
  line-height: 20px;
  height: 24px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#qty-c{
  width: calc(15% - 4px);
  height: 24px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#unit-c{
  width: calc(15% - 4px);
  height: 24px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#exp-c{
  width: calc(25% - 4px);
  height: 24px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 12px;
  margin: 0 0 0 4px;
}

#buttons-c{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

#buttons-c button { 
  font-size: 10px;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: 2px solid transparent;
  background: rebeccapurple;
  color: white;
  cursor: pointer;
  transition: all .25s ease;
}

#buttons-c button:hover { 
  background: white;
  color: rebeccapurple;
}

.fridge{
  width: calc(60% - 20px);
  min-width: 450px;
}

.recipe{
  width: calc(40% - 20px);
}

.fridge-side{
  width: 40%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.add-item{
  width: 100%;
  height: 50%;
  background: rgba(102, 51, 153, 0.5);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.add-item input{
  background: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  margin: 3px 0;
  padding: 10px 4px 0 4px;
  color: rgba(0, 0, 0, .5)
}

#qty{
  width: 50%;
  margin-right: 5px;
}

#itemnum{
  color: white;
  border-right: 2px solid white;
  padding-right: 12px;
  line-height: 30px;
}

.add-item select{
  background: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 4px;
  width: 50%;
  height: 30px;
  color: rgba(0, 0, 0, .5);
  overflow: hidden;
  margin-left: 5px;
  line-height: 12px;
  font-size: 12px;
}

.add-item button{
  background: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  margin: 3px 0;
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: .25s all ease;
}

.add-item button:hover{
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

h4{
  overflow: hidden;
}

.qty-unit-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.glance{
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.glance-r{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4px;
}

.fridge-search{
  width: Calc(100% - 48px);
  height: 24px;
  border-radius: 12px;
  border: none;
  padding: 0 4px;
}

.label{
  font-size: 14px;
}

.table-container{
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.fridge-header{
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 12px;
  border-bottom: 2px solid rebeccapurple;
  border-radius: 10px 10px 0 0;
  color: black;
  height: 20px;
  background: transparent;
  transition: all .125s ease;
}

.fridge-header:nth-child(1n+0){
  background: white;
  padding-top: 5px;
}

.fridge-footer{
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 10px;
  line-height: 20px;
  border-top: 2px solid rebeccapurple;
  border-radius: 0 0 10px 10px;
  color: black;
  height: 40px;
  background: transparent;
  transition: all .125s ease;
}

.fridge-footer button { 
  font-size: 10px;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: 2px solid transparent;
  background: rebeccapurple;
  color: white;
  cursor: pointer;
  transition: all .25s ease;
}

.none{
  display: none;
}

.white{
  color: white;
}

.error{
  font-size: 10px;
  font-weight: 800;
  color: white;
  overflow: hidden;
  animation: show-error .25s ease;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.5);
}

*::-webkit-scrollbar-thumb {
  background: rgba(102, 51, 153, 0.5);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 51, 153, 0.7);
}

h2{
  text-transform: uppercase;
  width: 20px;
  height: 100%;
  letter-spacing: 10px;
  writing-mode: vertical-rl;
}

@media (max-width: 1230px) {
  .fridge{
    width: 100%;
  }
  .recipe{
    width: 100%;
  }
}

@keyframes show-error {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}